

.grid{
    height: 100%;
    width: 100%;
    display:grid;
    grid-template-rows: repeat(6, 250px);
    grid-template-columns: repeat(6, 250px);
    grid-row-gap: 10px;
    grid-column-gap: 3px;
    width: 100vw;
    height: 100vh;
  }
  
  #top {
    grid-column-start: 1;
      grid-column-end: span 6;
      grid-row-start: 1;
      grid-row-end: span 3;
      max-width: 100%;
      height: auto;
      background-size: cover; 
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;;
    background-image:url('./habeshabackground.jpg')
  }
  
  #main {
    grid-column-start: 1;
      grid-column-end: span 6;
      grid-row-start: 4;
      grid-row-end: span 2;
      max-width: 100%;
      height: auto;
      background-size: cover; 
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    text-align: center;
  }
  
  #main {
    grid-column-start: 1;
      grid-column-end: span 6;
      grid-row-start: 4;
      grid-row-end: span 2;
      max-width: 100%;
      height: auto;
      background-size: cover; 
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    text-align: center;
  }